doctype html
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
	html.no-js.lt-ie9.lt-ie8  
//if IE 8
	html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js
	// <![endif]
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title Scrollspace
		meta(name='description', content='Learn how to create a fullscreen slideshow for your scrolling website.')
		link(rel='author', href='https://plus.google.com/u/0/109859280204979591787/about')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='feedstyle.css')
		script(src='modernizr-2.6.2.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js', data-semver='2.2.0', data-require='jquery@*')
		script(src='https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.js')
		script(src='https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js')
		script(src='jquery.masonry.min.js')
		script(src='masonry.pkgd.min.js')
	body
		h1 ScarletFish
		- var post_data = data
		- var user_posts = ['test']
		- var user = userId
		script.
			all_data="#{data[0]['posted_by']}";
			for (var i=0; i<post_data.length; i++) {
				post_data[i]['likes'] = 3;
			}
		.grid
			.grid-sizer
			.grid-item.post
				p= data[0]['text']
			.grid-item.post
				if (data.length > 1)
					p= data[1]['text']
			.grid-item.post
				if (data.length > 2)
					p= data[2]['text']
			.grid-item.post
				p= data[0]['text']
			.grid-item.post
				p= data[0]['text']
			.grid-item.post
				p= data[0]['text']
			.grid-item.post
				p= data[0]['text']
			.grid-item.post
				p= data[0]['text']
			.grid-item.post
				p= data[0]['likes']
			.grid-item.post
			.grid-item.post
			.grid-item.post
			.grid-item.post
			.grid-item.post
			.grid-item.post
			.grid-item.post
			.grid-item.grid-item-posts
				p= user_posts[0] + ' ' + user_posts[1]
			.grid-item.grid-item-posts wtf man hi 3
			.grid-item.grid-item-posts
			.grid-item.post
			.grid-item.post
			.grid-item.post
			.grid-item.post
			.grid-item.grid-item-posts
			.grid-item.grid-item-profile
				.profile-features
					img(src='profile-42914_960_720.jpg', style='width:150px; height:150px; top:50%')
			.grid-item.grid-item-posts
			.grid-item.post
			.grid-item.post
			.grid-item.post
			.grid-item.post
			.grid-item.grid-item-posts
			.grid-item.grid-item-posts
			.grid-item.grid-item-posts
			.grid-item.post
			.grid-item.post
			.grid-item.post
			.grid-item.post
			.grid-item.post
			.grid-item.post
			.grid-item.post
			.grid-item.post
			.grid-item.post
			.grid-item.post
			.grid-item.post
			.grid-item.post
			.grid-item.post
			.grid-item.post
			.grid-item.post
			.grid-item.post
			#myModal.modal
				.modal-content
					span.close &times;
					p= post_data[0]['likes']
					#postContent
			script(src='feedscript.js')

