html
    head
        title = Profile Page
        link(rel='stylesheet' href='profileStyle.css')
    body
        script(src='profileScripts.js')
        -   var styleing = background-color: #{data.background_color};
        #header_content(style=styleing)
            h1(class='header_objects' id='name')
                .profile_pic(style='float: left')
                    img(src="profile-42914_960_720.jpg" style="width: 200px; padding-right: 10px")
                .profile_name(style='float: left')
                    -   var first = data.first_name;
                    -   var last = data.last_name;
                    -   var header = first + ' ' + last;
                    p= header
        #experience_bar
            -   var points = data.exp_pts ;
            -   var label = "Currently at " + points + " of 100 points towards next feature";
            p(style='text-align: center; margin = 0px')= label
        #clearer
        #main_content 
            .panels.left
                h2 Your Current Features:
                p(id='features')
                    To be filled by javascript
            .panels.right
                h2 Personal Feed:
                p= data.first_name
                p= data.last_name
                p To be filled by blah
                p To be filled by javascript
                p To be filled by javascript
            .panels.left
                h2 Your Current Features:
                p(id='features')
                    To be filled by javascript
            .panels.left
                h2 Your Current Features:
                p(id='features')
                    To be filled by javascript
            .panels.right
                h2 Personal Feed:
                p To be filled by javascript
                p To be filled by javascript
                p To be filled by javascript
                p To be filled by javascript
                p To be filled by javascript
                p To be filled by javascript
        #clearer
        #footer_content
            h3 life's a game, play responsibly