html
    head
        title = Profile Page
        link(rel='stylesheet' href='profileStyle.css')
    body
        script(src='profileScripts.js')
        -   var color = data.background_color
        -   var styling = "background-color: " + color + ";"
        if (error != "")
            #errorBar(style=styling)
                - var errMessage = "Error: " + error
                p(style='text-align: center; margin = 0px')= errMessage
            #clearer
        if (message != "")
            #messBar(style=styling)
                - var messMessage = "New Message: " + message
                p(style='text-align: center; margin = 0px')= messMessage
            #clearer
        #header_content(style=styling)
            h1(class='header_objects' id='name')
                .profile_pic(style='float: left')
                    img(src="profile-42914_960_720.jpg" style="width: 200px; padding-right: 10px")
                .profile_name(style='float: left')
                    -   var first = data.first_name;
                    -   var last = data.last_name;
                    -   var header = first + ' ' + last;
                    p= header
                    -   var points = data.exp_pts;
                    p= points
                .logout(style='float: right')
                    <form action="/logout" id="logout" method="post" name="logout">
                        <input type="image" src="https://cdn2.iconfinder.com/data/icons/picons-essentials/57/logout-512.png" style="width: 80px; padding-right: 10px"/>
                    </form>
        #experience_bar(style=styling)
            -   var points = data.exp_pts ;
            -   var label = "";
            if (points < 10)
                - next = 10 - points
                - label = next + " points until you can change your background!"
            else if (points < 50)
                - next = 50 - points
                - label = next + " points until you can change the font of your posts!"
            else if (points < 100)
                - next = 100 - points
                - label = next + " points until you can change the background color of your posts!"
            else if (points < 200)
                - next = 200 - points
                - label = next + " points until you can change the text size of your posts!"
            else if (points < 400)
                - next = 400 - points
                - label = next + " points until you can change the text color of your posts!"
            else if (points < 500)
                - next = 400 - points
                - label = next + " points until you can change the text color of your posts!"
            else
                - label = "You have " + points + " points!"
            p(style='text-align: center; margin = 0px')= label
        #clearer
        #main_content

            if data.exp_pts >= 10
                .panels.left(style=styling)
                    h2 Set your background color!
                    <form action="/back_color" id="user_color_form" method="post" name="back_form" id="backForm">
                        <input type="color" name="text_color">
                        p
                        <input type="submit" value="Submit" id="submit"/>
                    </form>

            .panels.right(style=styling)
                h2 Make A Post:
                
                <form action="/post" id="user_post_form" method="post" name="post_form" id="postForm">

                    if data.exp_pts <= 200
                        <textarea id="postEntry" name="postEntry" id="postEntry" rows="4" cols="100" placeholder="Enter post here..." maxlength="200"></textarea>
                    else if data.exp_pts <= 999 
                        <textarea id="postEntry" name="postEntry" id="postEntry" rows="4" cols="100" placeholder="Enter post here..."></textarea>
                        <script>
                            document.getElementById("postEntry").maxlength = data.exp_pts;
                        </script>
                    else
                        <textarea id="postEntry" name="postEntry" rows="4" cols="100" placeholder="Enter post here..." maxlength="999"></textarea>
                    
                    -   var first = data.first_name;
                    <input type="hidden" name="firstName" value= "" + first + "">
                    <input type="hidden" name="lastName" id="lastName">
                    <script>
                        document.getElementById("firstName").value = data.first_name;
                        document.getElementById("lastName").value = data.last_name;
                    </script>
                    p
                    if data.exp_pts >= 500
                        | Text: <input type="hidden" name="priority" value="1"> 
                    else
                        | Text: <input type="hidden" name="priority" value="0"> 
                    if data.exp_pts >= 400
                        | Text: <input type="color" name="text_color" value="#111111">
                    if data.exp_pts >= 100
                        | Background: <input type="color" name="bg_color" value="#000000"> 
                    if data.exp_pts >= 200
                        | Size: <select name="size">
                        |           <option selected="selected" value="8">8</option>
                        |           <option value="9">9</option>
                        |           <option value="10">10</option>
                        |           <option value="11">11</option>
                        |           <option value="12">12</option>
                        |           <option value="13">13</option>
                        |           <option value="14">14</option>
                        |           <option value="15">15</option>
                        |           <option value="16">16</option>
                        |           <option value="17">17</option>
                        |           <option value="18">18</option>
                        |           <option value="19">19</option>
                        |           <option value="20">20</option>
                        |        </select> 
                    if data.exp_pts >= 50
                        | Font: <select name="font">
                        |          <option selected="selected" value="Arial">Arial</option>
                        |          <option value="Courier New">Courier New</option>
                        |          <option value="Georgia">Georgia</option>
                        |          <option value="Times New Roman">Times New Roman</option>
                        |          <option value="Verdana">Verdana</option>
                        |        </select>
                    p
                    <input type="submit" value="Submit" id="submit"/>
                    <br><br><br>
                    <a href="/feed">Check out your feed</a>
                </form>

            .panels.left(style=styling)
                h2 Signup Date:
                p= data.signup_date
        #clearer
        #footer_content(style=styling)
            h3 life's a game, play responsibly