html
    head
        title = Profile Page
        link(rel='stylesheet' href='profileStyle.css')
    body
        script(src='profileScripts.js')
        -   var color = data.background_color
        -   var styling = "background-color: " + color + ";"
        #header_content(style=styling)
            h1(class='header_objects' id='name')
                .profile_pic(style='float: left')
                    img(src="profile-42914_960_720.jpg" style="width: 200px; padding-right: 10px")
                .profile_name(style='float: left')
                    -   var first = data.first_name;
                    -   var last = data.last_name;
                    -   var header = first + ' ' + last;
                    p= header
        #experience_bar(style=styling)
            -   var points = data.exp_pts ;
            -   var label = "Currently at " + points + " of 100 points towards next feature";
            p(style='text-align: center; margin = 0px')= label
        #clearer
        #main_content
            .panels.left(style=styling)
                h2 Your Email:
                p= data.email_address
            .panels.right(style=styling)
                h2 Personal Feed:
                p= data.first_name
                p= data.last_name
                p= data.email_address
                p= data.background_color
                p= data.id_num
                p= data.signup_date
                p= data.exp_pts
            .panels.left(style=styling)
                h2 Signup Date:
                p= data.signup_date
        #clearer
        #footer_content(style=styling)
            h3 life's a game, play responsibly